  
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
    box-sizing: border-box;
}

body {
 background-image: url("bs1.jpgw");
 background-color: #ffff;
}
h1 {
  color: #000000;
  position: absolute;
  top: 20%;
  left: 20%;
  font-size: 30px
}

hr {
    width:1%;
    margin:0 auto;
  align-items: center;
  justify-content: center
}

#linka {
   color: #000000;
  position: absolute;
  left: 20%;
  font-size: 25px;
  top: 55%;
  text-decoration: none
}

#linkb {
  color: #000000;
  position: absolute;
  left: 40%;
  font-size: 25px;
  top: 55%;
   text-decoration: none
}

#linkc {
  color: #000000;
  position: absolute;
  left: 65%;
  font-size: 25px;
  top: 55%;
   text-decoration: none
}
#linkd {
  color: #000000;
  position: absolute;
  left: 42%;
  font-size: 25px;
  top: 65%;
   text-decoration: none
}
img {
  position: absolute;
  left: 27%;
  top: 10%
}

#notice {
  color: #fff;
  position: absolute;
  width: 341.422px;
  top: 92%;
  left: 39%;
  
  
}

#LOGO {
   color: #fff;
   position: absolute;
  top: 1%;
  left: 1%;
  font-size: 20px;
  text-decoration: none
}
